.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgb(96, 165, 250), rgb(59, 82, 120));
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border: 2px solid rgb(59, 130, 246);
  background: linear-gradient(rgb(147, 197, 253), rgb(96, 165, 250));
  color: white;
}


.button {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.add {
  padding: 15px;
  background-color: rgb(34, 197, 94);
  color: white;
}

.sub {
  padding: 15px;
  background-color: rgb(239, 68, 68);
  color: white;
}
